@{
    ViewData["Title"] = "Home Page";
}

 <script src="//unpkg.com/centrifuge@3.1.0/dist/centrifuge.js"></script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <div>
        <h1 class="display-4">ReplyMessages</h1>
        <div id="messages-box">

        </div>
        <textarea id="text-box"></textarea>
        <button id="button">send</button>
    </div>
</div>

<script>

    const messagesBox = document.getElementById('messages-box');
    const centrifuge = new Centrifuge('@ViewData["Url"]', {
      token: '@ViewData["Token"]'
    });

	centrifuge.on('connecting', function (ctx) {
      console.log(`connecting: ${ctx.code}, ${ctx.reason}`);
    }).on('connected', function (ctx) {
      console.log(`connected over ${ctx.transport}`);
    }).on('disconnected', function (ctx) {
      console.log(`disconnected: ${ctx.code}, ${ctx.reason}`);
    }).connect();

    const sub = centrifuge.newSubscription("test-channel");

	sub.on('publication', function (ctx) {
	    var message = ctx.data.value;
	    console.log(message);
        const p = document.createElement('p');
        p.innerText = JSON.stringify(message);
        messagesBox.append(p);
    }).on('subscribing', function (ctx) {
      console.log(`subscribing: ${ctx.code}, ${ctx.reason}`);
    }).on('subscribed', function (ctx) {
      console.log('subscribed', ctx);
    }).on('unsubscribed', function (ctx) {
      console.log(`unsubscribed: ${ctx.code}, ${ctx.reason}`);
    }).subscribe();

    document.getElementById('button').addEventListener('click', function (e) {

        const text = document.getElementById('text-box').value;

        centrifuge.publish("test-channel", { "msg": text}).then(function(res) {
            console.log('successfully published');
        }, function(err) {
            console.log('publish error', err);
        });
    });
    
</script>